section {
  padding: 33px 10vw;
  color: #333333;

  h2 {
    font-size: 40px;
    line-height: 48px;
    font-family: "Lato";
    font-weight: 300;
  }

  rot-submit-name-banner {
    margin-top: 20px;
  }
}
