
:host {
  display: grid;
  grid-template-rows: 1fr;
  color: white;
  box-sizing: border-box;
  font-weight: 300;
  background-color: rgba(51,51,51,0.45);
  backdrop-filter: blur(35px);

  @media #{$small-only} {
    background-color: rgba(51,51,51,0.65);
  }

  .card-info {
    padding: 3vw 3vw 0 3vw;
  }

  .question-opening {
    font-size: 16px;
    opacity: 0.74;
  }

  h1 {
    font-size: 60px;
    margin: -5px 0 0 0;
    font-weight: normal;

    @media #{$small-only} {
      font-size: 40px;
    }
  }

  p {
    font-size: 21px;
    @media #{$small-only} {
      font-size: 19px;
      margin: 5px 0;
    }
  }

  .more-information {
    display: flex;
    align-items: center;

    a {
      color: white;
      outline: none;
      margin-left: 5px;
      font-size: 14px;
    }
  }

  h3 {
    font-size: 20px;
    @media #{$small-only} {
      margin: 10px 0;
    }
  }

  .veredict--buttons {
    display: flex;
    rot-button {
      flex: 1;
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      &.up { background-color: transparentize($color: $thumb-up-color, $amount: 0.1); }
      &.down { background-color: transparentize($color: $thumb-down-color, $amount: 0.1); }
    }
  }
}
