:host {
  display: grid;
  background-color: #ebebeb;
  color: #333333;
  font-weight: 300;
  grid-template:
      "s p x"
      "b p x";
  transition: all .5s ease-in-out;
  max-height: 300px;
}

:host(:not(.hide)) {
  padding: 10px;
}

:host(.hide) {
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

span {
  font-size: 22px;
  line-height: 26px;
  grid-area: s;
}

b {
  font-size: 37px;
  line-height: 42px;
  color: #333333;
  grid-area: b;
}

p {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 23px;
  grid-area: p;
  margin-left: 20px;
}

rot-button {
  grid-area: x;
  display: flex;
  align-items: center;
  justify-content: center;

  rot-icon {
    font-size: 20px;
    color: #333333;
  }
}
