:host {
  display: flex;
  width: 492px;
  height: 550px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  font-weight: 300;
  padding: 50px;
  box-sizing: border-box;
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.6) 0%,
    rgba(0,0,0,0) 100%),
    var(--rot-vote-card-bg-image);
}

h1 {
  font-size: 45px;
  margin: 0;
  font-weight: 400;
}

p {
  font-size: 16px;
}

.vote-buttons {
  display: flex;
  width: 100%;

  rot-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 2px solid;

    &.vote {
      font-size: 18px;
      padding: 10px;
      margin-right: 10px;

      &:nth-child(1) {
        background-color: var(--rot-vote-thumb-up-color);
        border-color: var(--rot-vote-thumb-up-color);
      }

      &:nth-child(2) {
        background-color: var(--rot-vote-thumb-down-color);
        border-color: var(--rot-vote-thumb-down-color);
      }

      &.selected {
        border: 2px solid;
      }
    }
  }
}
